<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet"  type='text/css' media='screen' href="{{ url_for('static', filename='css/style3.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facultyform</title>
</head>
<body>
  <div class="container">
    <div class="title"><b>Mits Attendance</b></div><br>
    <div class="content">
      <div>
        <center><p><marquee><b>{{msg}}</b></marquee></p><br>
        </center>
      </div>
      <div class="home-but">
        <button id="h"><a href="/">HOME</a></button>
        <button id="h"><a href="{{ url_for('faculty')}}">Back</a></button>
      </div>
      <form action="{{ url_for('download')}}" method="POST">
        <center>
        <div class="user-details">
          <div class="input-box">
            <span class="details"><b>Faculty_Id</b></span>
              <input type="text" id="facid" name="facid" placeholder="Enter ID" required>  
          </div><br>
          <div class="input-box">
            <span class="details"><b>Year</b></span>
            <select  id="rmn" name="year" required="1">
                <option value="">--Select Year--</option>
                <option value="First" >First</option>
                <option value="Second">Second</option>
                <option value="Third">Third</option>
                <option value="Fourth">Fourth</option>
          </select>
          </div><br>
          <div class="input-box">
            <span class="details"><b>Department</b></span>
            <select  id="rmn" name="dept" required="1">
                <option value="">--Select Your Department--</option>
                <option value="AI" >AI</option>
                <option value="CIVIL">CIVIL</option>
                <option value="CSE">CSE</option>
                <option value="DS">DS</option>
                <option value="ECE">ECE</option>
                <option value="EEE">EEE</option>
                <option value="MBA">MBA</option>
                <option value="MCA">MCA</option>
                <option value="MECH">MECH</option>
          </select>
          </div><br>
          <div class="input-box">
            <span class="details"><b>Sheet</b></span>
            <select  id="rmn" name="sheet" required="1">
                <option value="">--Select among these--</option>
                <option value="Generate Today's Class" >Generate Today's Class</option>
                <option value="Download previous Classes">Download previous Classes</option>
          </select>
          </div><br>
          <div class="input-box">
            <span class="details"><b>Date</b></span>
            <input type="date" id="dateInput" name="selectedDate">
          </div><br>
          
      </center>
      <center><div class="button">
        <input type="submit" value="Download"><br><br>
        <br></div>

      </form>
        
    </div>
    
    <script>
      function popup(){
        prompt=alert("Attendance Sheet")
      }
    
    </script>
    
    
  </div>
  
</div>


  
</body>
</html>
